@use "./variables" as *;

.about-section {
  background-color: $primary-bc;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    @media (min-width: 780px) {
      flex-direction: row;
      align-items: flex-start;
    }
  }
  .image-container {
    img {
      border-radius: 50%;
      filter: saturate(10%);
      transition: all 0.5s ease-in-out;
      @media (min-width: 480px) {
        width: 430px;
      }
    }
  }
  h2 {
    padding-top: 1em;
  }
  p {
    // increases readability state and setState
    max-width: 60ch;
  }
}

.about-section:hover,
.about-section:focus-within {
  img {
    filter: saturate(80%);
  }
}