@use "variables" as *;

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

section {
  min-height: 100vh;
  padding: 4em 0;
  display: flex;
  align-items: center;
}

.wrapper {
  width: min(90%, 1000px);
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p a {
  color: $secondary-bc;
  transition: all 0.3s ease-in-out;
  &:hover,
  &:focus-visible {
    color: $primary-ac;
    letter-spacing: 0.1rem;
  }
}

h1 {
  margin: 0;
}

h2 {
  margin: 0 0 1em 0;
}

*:focus {
  outline: none;
}