@use "variables" as *;

header {
  background-image: url(../../assets/images/jason-leem-50bzI1F6urA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-top: 10rem;
  color: $secondary-fc;
  span {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }
  p {
    font-size: clamp(1rem, 1vw + 1rem, 2rem);
    font-weight: 500;
    color: inherit;
  }
}



h1 > * {
  display: block;
}