@use 'variables' as *;

.loader {
  position: fixed;
  inset: 0 0 0 0;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9em;
  background-color: $primary-bc;
  i {
    font-size: 6rem;
  }
  &.hide {
    animation: circle 1.2s 1.8s ease-in forwards;
  }
}

.one {
  color: $secondary-bc;
  animation: loading 1.8s infinite;
}

.two {
  color: $primary-ac;
  animation: loading 1.8s 0.6s infinite;
}

.three {
  color: $primary-fc;
  animation: loading 1.8s 1.2s infinite;
}

@keyframes loading {
  0% {
    scale: 1;
  }
  17% {
    scale: 1.5;
  }
  33% {
    scale: 1;
  }
}

@keyframes circle {
  0% {
    clip-path: circle(75%);
  }
  100% {
    clip-path: circle(0%);
    display: none;
  }
}