@use "variables" as *;

nav {
  position: fixed;
  right: 5%;
  background-color: $primary-bc;
  color: $secondary-bc;
  inset: 0;
  z-index: 10;
  translate: 100%;
  transition: translate 250ms ease-in-out;
}

.nav-list {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: $primary-fc;
  .nav-link {
    display: none;
    color: inherit;
    font-size: 3rem;
    padding: 1em 1em;
    transition: all 0.3s ease-in-out;
    &:hover,
    &:focus {
      color: $primary-ac;
      scale: 1.1;
    }
  }
}

.nav-toggle {
  padding: 0.6em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: fixed;
  right: 1em;
  top: 1em;
  z-index: 20;
}

.nav-open nav {
  translate: 0;
}

.nav-open .nav-link {
  display: block;
}

.nav-open .hamburger {
  rotate: .625turn;
}
.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-8px);
}
.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background-color: $primary-ac;
  width: 2em;
  height: 3px;
  border-radius: 1em;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.hamburger::before {
  top: 8px;
}

.hamburger::after {
  bottom: 8px;
}