// fonts
$heading-ff: 'Lora', serif;
$body-ff: 'Roboto', sans-serif;
// colors
$primary-fc: #14070e;
$secondary-fc: #f8f4f3;
$primary-ac: #db9999;
$primary-bc: #f7e4dc;
$secondary-bc: #365c46;
$tertiary-bc: #b6caa2