html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lora", serif;
  color: #14070e;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.6;
}

h1,
h2,
h3,
a,
button,
label {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: clamp(5rem, 10vw + 1rem, 13.8rem);
  color: #f8f4f3;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 3.2rem;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-family: "Lora", serif;
  color: #14070e;
  line-height: 1.6;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: "Lora", serif;
  color: #14070e;
  line-height: 1.6;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-family: "Lora", serif;
  color: #14070e;
  line-height: 1.6;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-family: "Lora", serif;
  color: #14070e;
  line-height: 1.6;
}

input,
textarea,
input::placeholder,
textarea::placeholder {
  font-family: "Lora", serif;
  color: #14070e;
  line-height: 1.6;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section {
  padding: 4em 0;
}

.wrapper {
  width: min(90%, 1000px);
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2 {
  margin: 0;
}

header {
  background-image: url(../../assets/images/jason-leem-50bzI1F6urA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: #f8f4f3;
}
header p {
  font-weight: 500;
}

h1 > * {
  display: block;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}
.social-list a {
  display: block;
  color: #14070e;
  font-size: 4.5rem;
  padding: 0.3em;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.social-list a:hover, .social-list a:focus {
  color: #db9999;
  scale: 1.2;
}

.about-section {
  background-color: #f7e4dc;
}
.about-section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-section .image-container img {
  border-radius: 1%;
}
@media (min-width: 480px) {
  .about-section .image-container img {
    width: 430px;
  }
}

.skills-section {
  background-color: #365c46;
  color: #f8f4f3;
  text-align: center;
}
.skills-section h2 {
  margin-bottom: 1em;
}

.skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2em;
}
.skills-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skills-list li i {
  font-size: 4rem;
}
.skills-list li p {
  font-size: 1.5rem;
  margin: 0;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.contact-section form textarea {
  resize: vertical;
}
.contact-section form button {
  border: none;
  padding: 0.55em 0.75em;
}

footer {
  background-color: #365c46;
  text-align: center;
  color: #f8f4f3;
}