html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lora", serif;
  color: #14070e;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.6;
}

h1,
h2,
h3,
a,
button,
label {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: clamp(4.2rem, 10vw + 1rem, 13.8rem);
  color: #f8f4f3;
}

h1 span {
  font-size: clamp(2.5rem, 4vw + 1rem, 12.8rem);
}

h2 {
  font-size: clamp(3rem, 4vw + 1rem, 5rem);
}

h3 {
  font-size: clamp(2.6rem, 5vw + 1rem, 3.2rem);
}

p {
  color: #555;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font: inherit;
  color: #14070e;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font: inherit;
  color: #14070e;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font: inherit;
  color: #14070e;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font: inherit;
  color: #14070e;
}

input,
textarea,
input::placeholder,
textarea::placeholder {
  font: inherit;
  color: #14070e;
}

html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section {
  min-height: 100vh;
  padding: 4em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  width: min(90%, 1000px);
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p a {
  color: #365c46;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
p a:hover, p a:focus-visible {
  color: #db9999;
  letter-spacing: 0.1rem;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0 0 1em 0;
}

*:focus {
  outline: none;
}

.loader {
  position: fixed;
  inset: 0 0 0 0;
  z-index: 30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9em;
  background-color: #f7e4dc;
}
.loader i {
  font-size: 6rem;
}
.loader.hide {
  -webkit-animation: circle 1.2s 1.5s ease-in forwards;
          animation: circle 1.2s 1.5s ease-in forwards;
}

.one {
  color: #365c46;
  -webkit-animation: loading 1.8s infinite;
          animation: loading 1.8s infinite;
}

.two {
  color: #db9999;
  -webkit-animation: loading 1.8s 0.6s infinite;
          animation: loading 1.8s 0.6s infinite;
}

.three {
  color: #14070e;
  -webkit-animation: loading 1.8s 1.2s infinite;
          animation: loading 1.8s 1.2s infinite;
}

@-webkit-keyframes loading {
  0% {
    scale: 1;
  }
  17% {
    scale: 1.5;
  }
  33% {
    scale: 1;
  }
}

@keyframes loading {
  0% {
    scale: 1;
  }
  17% {
    scale: 1.5;
  }
  33% {
    scale: 1;
  }
}
@-webkit-keyframes circle {
  0% {
    -webkit-clip-path: circle(75%);
            clip-path: circle(75%);
  }
  100% {
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
    display: none;
  }
}
@keyframes circle {
  0% {
    -webkit-clip-path: circle(75%);
            clip-path: circle(75%);
  }
  100% {
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
    display: none;
  }
}
.hidden {
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@media (prefers-reduced-motion: no-preference) {
  .hidden {
    -webkit-transition: all 1.5s;
    transition: all 1.5s;
  }
}
.show {
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header {
  background-image: url(../../assets/images/jason-leem-50bzI1F6urA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-top: 10rem;
  color: #f8f4f3;
}
header span {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
header p {
  font-size: clamp(1rem, 1vw + 1rem, 2rem);
  font-weight: 500;
  color: inherit;
}

h1 > * {
  display: block;
}

nav {
  position: fixed;
  right: 5%;
  background-color: #f7e4dc;
  color: #365c46;
  inset: 0;
  z-index: 10;
  translate: 100%;
  -webkit-transition: translate 250ms ease-in-out;
  transition: translate 250ms ease-in-out;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #14070e;
}
.nav-list .nav-link {
  display: none;
  color: inherit;
  font-size: 3rem;
  padding: 1em 1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav-list .nav-link:hover, .nav-list .nav-link:focus-visible {
  color: #db9999;
  scale: 1.1;
}

.nav-toggle {
  padding: 1em 0.6em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: fixed;
  right: 1em;
  top: 1em;
  z-index: 20;
  border: 3px solid rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.nav-toggle:focus-visible {
  border: 3px solid white;
}
.nav-toggle:focus-visible::before {
  content: "";
  position: absolute;
  inset: 0px;
  border: 3px solid #db9999;
}

.nav-open nav {
  translate: 0;
}

.nav-open .nav-link {
  display: block;
}

.nav-open .hamburger {
  rotate: 0.625turn;
}

.nav-open .hamburger::before {
  -webkit-transform: rotate(90deg) translateX(-8px);
          transform: rotate(90deg) translateX(-8px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background-color: #db9999;
  width: 2em;
  height: 3px;
  border-radius: 1em;
  -webkit-box-shadow: 0px 3px 0px #f8f4f3;
          box-shadow: 0px 3px 0px #f8f4f3;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger::before {
  top: 10px;
}

.hamburger::after {
  bottom: 10px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}
.social-list a {
  display: block;
  color: #14070e;
  font-size: 4.5rem;
  padding: 0.3em;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.social-list a:hover, .social-list a:focus-visible {
  color: #db9999;
  scale: 1.2;
}

.about-section {
  background-color: #f7e4dc;
}
.about-section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}
@media (min-width: 780px) {
  .about-section .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.about-section .image-container img {
  border-radius: 50%;
  -webkit-filter: saturate(10%);
          filter: saturate(10%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media (min-width: 480px) {
  .about-section .image-container img {
    width: 430px;
  }
}
.about-section h2 {
  padding-top: 1em;
}
.about-section p {
  max-width: 60ch;
}

.about-section:hover img,
.about-section:focus-within img {
  -webkit-filter: saturate(80%);
          filter: saturate(80%);
}

.skills-section {
  background-color: #365c46;
  color: #f8f4f3;
}
.skills-section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3em;
  padding: 1em;
  max-width: 850px;
}
.skills-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}
.skills-list li i {
  font-size: 5rem;
}
.skills-list li p {
  color: inherit;
  font-size: 1.3rem;
  margin: 0;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  text-align: center;
}

.project-section {
  background-color: #f7e4dc;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.projects-container > li {
  border-radius: 10px;
  background-color: #f8f4f3;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .projects-container > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.projects-container > li .image-container img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-filter: saturate(0%);
          filter: saturate(0%);
  border-radius: 10px 10px 0 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media (min-width: 768px) {
  .projects-container > li .image-container img {
    border-radius: 10px 0 0 10px;
  }
}
.projects-container > li .project-text {
  padding: 1em;
}

.projects-container > li:hover,
.projects-container > li:focus-within {
  scale: 0.98;
}
.projects-container > li:hover .image-container img,
.projects-container > li:focus-within .image-container img {
  -webkit-filter: saturate(100%);
          filter: saturate(100%);
}

.skills {
  color: #365c46;
  font-family: "Roboto", sans-serif;
}
.skills li {
  display: inline;
}
.skills li:not(:last-child) {
  padding-right: 1rem;
  border-right: 3px solid #365c46;
}

.project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.project-links li {
  width: 11rem;
}
.project-links a {
  color: #14070e;
  background-color: #f7e4dc;
  padding: 0.5em 1.5em;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-radius: 10px;
}
.project-links a:hover, .project-links a:focus-visible {
  background-color: #db9999;
  color: white;
  scale: 1.1;
}

.contact-section p {
  max-width: 60ch;
}
.contact-section span.blockspam {
  display: none;
}

footer {
  background-color: #365c46;
  text-align: center;
  color: #f8f4f3;
}
footer p {
  color: inherit;
}